<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROJECTO FINAL</title>
</head>
<body>
    <h1>Projecto Final</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In laboriosam reiciendis nemo sit numquam temporibus corporis officia, possimus, ullam nihil accusantium quaerat maiores veniam nesciunt! Sint fugit nemo dolore sunt?</p>
</body>
</html>